.cuadrado{
    width: 400px; 
    height: 200px; 
    opacity: 0.5;
    transition: opacity 500ms;
}

#rojo{
    background-color: red;
}

#azul{
    background-color: blue;
}

#verde{
    background-color: green;
}

#amarillo{
    background-color: yellow;
}