.container{
    display: flex;
    flex-wrap: wrap;
}

.cuadrado{
    width: 400px; 
    height: 200px; 
}

.cuadradoEncendido{
    opacity: 500;
    background-color: white;
}

#iniciar{
    align-items: right;
}

#rojo{
    background-color: red;
}

#azul{
    background-color: blue;
}

#verde{
    background-color: green;
}

#amarillo{
    background-color: yellow;
}

.rojoEncendido{
    background-color: rgb(250, 69, 69);
}

.azulEncendido{
    background-color: rgb(61, 89, 248);
}

.verdeEncendido{
    background-color: rgb(67, 236, 109);
}

.amarilloEncendido{
    background-color: rgb(241, 241, 85);
}

#reiniciar{
    display: none;
    align-items: center;
}